body {
    background-color: #cab089;
  }

  img:hover {
    opacity: 0.5;
  }

  .contenedor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 400px;
    width: 50%;
    background-color: #f19306;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 10px;
    display: flex;
  }
  
  input {
    padding: 5px;
    margin-bottom: 20px;
    display: flex;
  }
  
  a {
    color: rgba(77, 61, 46, 0.911);
  }
  
  button:hover {
    background-color: rgba(110, 86, 62, 0.671);
    display: flex;
  }

  button {
    padding: 10px;
    background-color: rgba(53, 40, 28, 0.911);
    display: flex;
  }

/* Funcion para rotar el Logo */
@keyframes girar { 
  from {
      transform: rotate(0deg); 
  }
  to {
      transform: rotate(360deg); 
  }
}

header img {
  animation: girar 5s infinite linear; 
}