body {
  background-color: #cab089;
}

img:hover {
  opacity: 0.5;
}

.contenedor {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  height: 450px;
  width: 50%;
  background-color: #f19306;
  margin: auto;
  border-radius: 10px;    
}

.campo {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra el formulario horizontalmente dentro del contenedor */
}

label {
  margin-bottom: 10px; /* Reduce el espacio entre las etiquetas */
  text-align: left; /* Centra el texto en las etiquetas */
  font-weight: bold;
}

input {
  padding: 5px;
  margin-bottom: 10px; /* Reduce el espacio entre los campos de entrada */
  width: 100%; /* Ocupa todo el ancho disponible */
  border: 1px solid #ccc;
  border-radius: 5px;
  }

a {
  color: rgba(53, 40, 28, 0.911);
  text-align: center; /* Centra el texto del enlace */
  width: 150px; /* Cambia el ancho según tus preferencias */
  height: 50px; /* Cambia la altura según tus preferencias */
  background-color: rgba(53, 40, 28, 0.911); /* Cambia el color según tus preferencias */
  padding: 10px;
  align-self: center;
  color: white; /* Cambia el color del texto si es necesario */
  font-size: 16px; /* Cambia el tamaño de fuente del texto si es necesario */
  }

button:hover {
  background-color: rgba(77, 61, 46, 0.911);
}

button {
  padding: 10px;
  background-color: rgba(77, 61, 46, 0.911);
  align-self: center; 
}

/* Funcion para rotar el Logo */
@keyframes girar { 
  from {
      transform: rotate(0deg); 
  }
  to {
      transform: rotate(360deg); 
  }
}

header img {
  animation: girar 5s infinite linear; 
}